{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedding Promotion</title>
    <link rel="stylesheet" href="{% static 'promotion/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'promotion/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'promotion/css/custom.css' %}">

  </head>
  <body>

  <!-- START: header -->

  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <!-- <div class="container">
      <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
      <div class="mobile-menu-overlay"></div>

      <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#probootstrap-main">Images</a></li>
        </ul>
        <div class="extra-text visible-xs">
          <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
        </div>
      </nav>
    </div> -->
  </header>
  <!-- END: header -->

  <div class="probootstrap-main">

    {% for each_image in card.imagestocard_set.all reversed %}
    <section class="probootstrap-section-half{% if forloop.counter|divisibleby:"2" %} probootstrap-reverse {% endif %} ">
      <div class="probootstrap-image probootstrap-animate" data-animate-effect="fadeIn" style="background-image: url({{ each_image.image.url }})"></div>
      <div class="probootstrap-text" style="background-image: url({% static 'promotion/img/pink_back.jpg' %})">
        <div class="probootstrap-inner probootstrap-animate">
          <h1 class="heading">{{ each_image.title }}</h1>
          <p>{{ each_image.comment }}</p>
        </div>
      </div>
    </section>
    {% endfor %}

  </div>

  <footer class="probootstrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; 2017 <a href="https://probootstrap.com/">ProBootstrap:Connect</a>. All Rights Reserved. <br> Designed &amp; Developed by <a href="https://probootstrap.com">ProBootstrap</a> Demo Images <a href="https://unsplash.com/">Unsplash</a></p>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>

  <script src="{% static 'promotion/js/scripts.min.js' %}"></script>
  <script src="{% static 'promotion/js/main.min.js' %}"></script>
  <script src="{% static 'promotion/js/custom.js' %}"></script>

  </body>
</html>